@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.forme, .articles_cards_card_encard_top p {
  border: black solid 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2.8rem 0 2.5rem;
}

nav ul li {
  margin-right: 1.5rem;
}

nav ul li a {
  color: black;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
}

nav ul li a:hover {
  color: #fe7000;
}

nav ul p {
  color: black;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  width: 6.5rem;
  height: 2.5rem;
}

.search {
  margin-right: 1.25rem;
}

.inscription {
  margin-right: 2.5rem;
}

.inscription button {
  width: 7.5rem;
  height: 2.5rem;
}

.menu-slide1 {
  margin-right: 1.25rem;
  text-transform: uppercase;
}

.menu-slide2 {
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2.8rem 0 2.5rem;
}

nav ul li {
  margin-right: 1.5rem;
}

nav ul li a {
  color: black;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
}

nav ul li a:hover {
  color: #fe7000;
}

nav ul p {
  color: black;
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  width: 6.5rem;
  height: 2.5rem;
}

.search {
  margin-right: 1.25rem;
}

.inscription {
  margin-right: 2.5rem;
}

.inscription button {
  width: 7.5rem;
  height: 2.5rem;
}

.menu-slide1 {
  margin-right: 1.25rem;
  text-transform: uppercase;
}

.menu-slide2 {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: white;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.btn-primary {
  background-color: #fe7000;
}

.btn-secondary {
  background-color: #6130ad;
}

.header_home {
  width: 100%;
  height: 855px;
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.header_home_left {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.header_home_left h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  line-height: 5.62rem;
  font-size: 5.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 10%;
}

.header_home_left-transparent {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.header_home_left-description {
  color: white;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  height: auto;
  margin: 20px 0 40px 0;
}

.search_inscription {
  width: 310px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_inscription input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  line-height: 1.75rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.search_inscription button {
  height: 50px;
  margin: 30px 0;
}

.search_inscription p {
  color: white;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10%;
}

.header_home_middle {
  width: 35%;
  height: auto;
}

.header_home_middle img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header_home_right {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 240px;
  height: 250px;
  color: black;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_home_right p {
  margin-left: 30px;
}

.header_home_right p:nth-child(2) {
  color: #fe7000;
}

.security {
  width: 60%;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.security button {
  width: 250px;
  height: 50px;
  margin: 20px 0 0 2%;
}

.security_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security_titre h2 {
  color: black;
  line-height: 3.25rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 130px 0 100px 2%;
}

.security_titre p {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 100px 0 0 400px;
}

.security_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security_transparent {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.card {
  width: 190px;
  height: 340px;
}

.card img {
  float: left;
  scale: 1.15;
}

.card h3 {
  color: black;
  line-height: 1.62rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px 0 30px 0;
}

.card p {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 400;
}

.reviews {
  width: 1050px;
  height: 600px;
  margin: 115px auto 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews_left {
  background-color: #3b3b3b;
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews_left h2 {
  color: white;
  line-height: 3.25rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.reviews_left p {
  color: white;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.reviews_left h4 {
  color: transparent;
  line-height: 6rem;
  font-size: 6.87rem;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
}

.reviews_left button {
  width: 330px;
  height: 52px;
  margin-top: 40px;
}

.notation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.notation_badge {
  width: 45px;
  height: 45px;
}

.notation_note {
  margin-left: 30px;
}

.star {
  width: 15px;
  height: 15px;
}

.reviews_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efefef;
  width: 50%;
}

.reviews_right_card {
  width: 400px;
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.reviews_right_card_profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews_right_card_profil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 50px;
}

.reviews_right_card_profil p {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
}

.reviews_right_card_profil_commentaire {
  width: 275px;
  height: 250px;
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 400;
}

.les_abonnements {
  width: 1000px;
  height: 200px;
  margin-left: 5%;
}

.les_abonnements h2 {
  color: black;
  line-height: 3.25rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.les_abonnements-transparent {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.les_abonnements p {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
}

.abonnement {
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.abonnement_left {
  width: 50vw;
  height: auto;
}

.abonnement_right {
  width: 50vw;
  height: auto;
}

.abonnement_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  height: 480px;
  background-color: #efefef;
}

.abonnement_image-orange {
  background-color: #fe7000;
}

.abonnement_image img {
  margin-bottom: 110px;
}

.abonnement_offre {
  width: 80%;
  height: 515px;
  float: right;
  margin-top: -110px;
  background-color: white;
}

.abonnement_offre_description {
  width: 100%;
  height: 45px;
  color: #efefef;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #3b3b3b;
}

.abonnement_offre_description p {
  margin-left: 20px;
}

.abonnement_offre_description-color {
  color: white;
}

.abonnement_offre_comfort_titre {
  text-transform: uppercase;
  margin: 20px 0 0 20px;
}

.abonnement_offre_comfort_titre h4 {
  color: #efefef;
  line-height: 1.75rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.abonnement_offre_comfort_titre-color {
  color: black;
}

.abonnement_offre_comfort ul {
  color: black;
  line-height: 1.37rem;
  font-size: 1rem;
  font-weight: 500;
  margin: 30px 0 0 20px;
}

.abonnement_offre_comfort ul li {
  margin-bottom: 15px;
}

.abonnement_offre_comfort ul li:nth-child(4) {
  margin-bottom: 125px;
}

.abonnement_offre_comfort p {
  margin: 30px 0 0 20px;
}

.abonnement_offre_comfort_ligne {
  color: black;
  line-height: 1.37rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 235px;
}

.abonnement_offre_comfort_prix {
  margin-bottom: 20px;
}

.abonnement_offre_comfort_prix-1 {
  color: black;
  line-height: 1.75rem;
  font-size: 2rem;
  font-weight: 700;
}

.abonnement_offre_comfort_prix-2 {
  color: black;
  line-height: 0.06rem;
  font-size: 1rem;
  font-weight: 700;
}

.abonnement_offre_comfort_prix-3 {
  color: #efefef;
  line-height: 0.06rem;
  font-size: 1rem;
  font-weight: 400;
}

.abonnement_offre_comfort button {
  width: 100%;
  height: 55px;
}

.go_for_it {
  width: 90vw;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5%;
}

.go_for_it p {
  color: black;
  line-height: 1.75rem;
  font-size: 1.9rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 10px;
}

.forme {
  width: 100%;
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3b3b3b;
}

.forme_card {
  width: 30%;
  height: auto;
  margin-left: 25%;
}

.forme_card p {
  color: white;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
  width: 55%;
}

.forme_card button {
  width: 55%;
  height: 60px;
  margin-top: 40px;
}

.forme_card_titre {
  margin-top: 100px;
}

.forme_card_titre h4 {
  color: white;
  line-height: 3.12rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.forme_card_titre-color {
  color: #fe7000;
}

.forme_image {
  width: 30%;
  height: auto;
  margin-right: 15%;
}

.articles {
  width: 100%;
  height: 750px;
  margin-top: 200px;
}

.articles_titre {
  width: 100%;
  height: 100px;
  margin-bottom: 80px;
}

.articles_titre h4 {
  color: black;
  line-height: 3.25rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 25%;
}

.articles_titre h4 span {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.articles_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.articles_cards img {
  position: relative;
  z-index: 0;
}

.articles_cards_card {
  margin-right: 30px;
}

.articles_cards_card_encard {
  position: absolute;
  z-index: 10;
  width: 430px;
  height: 275px;
  margin-top: -85px;
  margin-left: 170px;
  background-color: white;
}

.articles_cards_card_encard_top p {
  color: black;
  line-height: 1.75rem;
  font-size: 0.68rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 30px 30px;
  width: 30%;
  padding: 0 10px;
  border-radius: 7px;
}

.articles_cards_card_encard_title h5 {
  color: black;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 30px 30px;
}

.articles_cards_card_encard_description p {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 500;
}

.articles_cards_card_encard_read-1 {
  float: right;
  margin: 27px 10px 0 0;
}

.articles_cards_card_encard_read-2 {
  float: right;
  margin: 80px 10px 0 0;
}

.articles_cards_card_encard_read-3 {
  float: right;
  margin: 5px 10px 0 0;
}

.goforit {
  margin-left: 15%;
  margin-bottom: 80px;
}

.goforit h2 {
  color: #fe7000;
  line-height: 6.25rem;
  font-size: 6.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.goforit-color {
  color: transparent;
  -webkit-text-stroke: 1px #fe7000;
}

.social_network {
  width: 100%;
  height: 90px;
  background-color: #fe7000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_network img {
  margin-right: 40px;
}

.listes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0 0 15%;
}

.listes_liste {
  width: 25hvw;
  height: 200px;
}

.listes_liste h5 {
  color: black;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0;
}

.listes_liste ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.listes_liste ul a {
  color: black;
  line-height: 1.75rem;
  font-size: 0.81rem;
  font-weight: 400;
}

.listes_liste ul a:hover {
  border-bottom: 1px solid black;
}

.baspage_img {
  float: right;
  margin-top: -480px;
}

footer {
  background-color: #3b3b3b;
  width: 100%;
  height: 80px;
  margin-top: 50px;
}

footer img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  margin-left: 20%;
}

footer ul li {
  margin-top: 20px;
}

footer ul li a {
  color: white;
  line-height: 1.75rem;
  font-size: 0.81rem;
  font-weight: 400;
}

footer ul li a:hover {
  border-bottom: 1px solid white;
}
/*# sourceMappingURL=main.css.map */