.btn {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  @include fonts($txt-primary, 1.75rem, 1rem, 700);
  color: $txt-primary;

  &-primary {
    background-color: $bg-tertiary;
    &:hover {
      background-color: lighten($color: $bg-tertiary, $amount: 20%);
    }
  }

  &-secondary {
    background-color: $bg-cinq;
    &:hover {
      background-color: lighten($color: $bg-cinq, $amount: 20%);
    }
  }
}
