nav {
  @include size(100%, 100px);
  @include flex(flex, center, center);

  ul {
    display: flex;
    margin: 0 2.8rem 0 2.5rem;

    li {
      margin-right: 1.5rem;

      a {
        @include fonts($txt-secondary, 1.2rem, 1rem, 400);
      }
    }

    p {
      @include fonts($txt-secondary, 1.2rem, 1rem, 400);
    }
  }
}

.logo {
  @include size(6.5rem, 2.5rem);
}

.search {
  margin-right: 1.25rem;
}

.inscription {
  margin-right: 2.5rem;

  button {
    @include size(7.5rem, 2.5rem);
    @include fonts($txt-primary, 1.75rem, 1rem, 600);
    text-transform: uppercase;
    background-color: $bg-tertiary;
  }
}

.menu-slide1 {
  margin-right: 1.25rem;
  text-transform: uppercase;
}

.menu-slide2 {
  text-transform: uppercase;
}
