@keyframes defilement {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes translateY {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes header_home_middle {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

//voir pour creer une boucle
@keyframes security {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes button {
  0% {
    transform: scaleY(0.5);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes reviews_right_card {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes abonement_img {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes abonemment {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1.2);
  }
}

@keyframes translateX {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
