$txt-primary: white;

$txt-secondary: black;

$txt-tertiary: #fe7000;

$txt-quaternary: #efefef;

$bg-primary: white;

$bg-secondary: #3b3b3b;

$bg-tertiary: #fe7000;

$bg-quaternary: #efefef;

$bg-cinq: #6130ad;
